.controlWrapper {
  position: relative;
}

.controlIconWrapper {
  display: inline-block;
  border-top: 1px solid var(--bordercolor);
  border-bottom: 1px solid var(--bordercolor);
  border-right: 1px solid var(--bordercolor);
  line-height: 0;
  cursor: pointer;
  box-sizing: border-box;
}
.controlIcon {
  width: 30px !important;
  height: 30px !important;
  padding: 5px;
}
.controlIconWrapper.selected {
  border-bottom: 1px solid red;
}
.controlIconWrapper.childOne,
.optionWrapper.childOne {
  border-left: 1px solid var(--bordercolor);
}

.optionWrapper {
  position: relative;
  width: 32px;
  height: 32px;
  display: inline-block;
  padding: 5px;
  border-top: 1px solid var(--bordercolor);
  border-bottom: 1px solid var(--bordercolor);
  border-right: 1px solid var(--bordercolor);
}
.activeControl {
  width: 69px;
  height: 69px;
  border: 1px solid #ccc;
  display: inline-block;
  margin-right: 5px;
  position: relative;
  vertical-align: top;
}
.activeControl .selectedMode {
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  color: black;
}
